<a href="https://colab.research.google.com/github/SakshamBakshi123/Shadowfox/blob/main/Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a variable named pi and store the value 22/7 in it.
Now check the data type of this variable.

In [ ]:
pi = 22 / 7
print(type(pi))

<class 'float'>

Create a variable called for and assign it a value 4. See what
happens and find out the reason behind the behavior that you
see.

In [ ]:
try:
    for_variable = 4
    print(f"The value of for_variable is: {for_variable}")
except SyntaxError as e:
    print(f"An error occurred: {e}")
    print("The variable name 'for' cannot be used because it is a reserved keyword in Python.")

The value of for_variable is: 4

Store the principal amount, rate of interest, and time in
different variables and then calculate the Simple Interest for 3
years. Formula: Simple Interest = P x R x T / 100

In [ ]:
principal = 10000
rate = 5
time = 3

simple_interest = (principal * rate * time) / 100
print(simple_interest)

Write a function that takes two arguments, 145 and 'o'
, and
uses the `format` function to return a formatted string. Print the
result. Try to identify the representation used.

In [ ]:
def format_value(number, format_spec):
    return format(number, format_spec)

result = format_value(145, 'o')
print(result)

221

In a village, there is a circular pond with a radius of 84 meters.
Calculate the area of the pond using the formula: Circle Area = π
r^2. (Use the value 3.14 for π) Bonus Question: If there is exactly
1.4 liters of water in a square meter, what is the total amount of
water in the pond? Print the answer without any decimal point in
it. Hint: Circle Area = π r^2 Water in the pond = Pond Area
Water per Square Meter

In [ ]:
radius = 84
pi = 3.14

area = pi * radius ** 2
water_per_sq_meter = 1.4

total_water = area * water_per_sq_meter
print(int(total_water))

31018

If you cross a 490meterlong street in 7 minutes, calculate your
speed in meters per second. Print the answer without any decimal
point in it. Hint: Speed = Distance / Time

In [ ]:
distance = 490
time_minutes = 7

time_seconds = time_minutes * 60
speed = distance / time_seconds

print(int(speed))

1

Calculate the number of members in the Justice League.

In [ ]:
justice_league = ["Superman", "Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]
print(len(justice_league))

6

Batman recruited Batgirl and Nightwing as new members.
Add them to your list.

In [ ]:
justice_league.append("Batgirl")
justice_league.append("Nightwing")

print(justice_league)

['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

Wonder Woman is now the leader of the Justice League.
Move her to the beginning of the list.

In [ ]:
justice_league.remove("Wonder Woman")
justice_league.insert(0, "Wonder Woman")

print(justice_league)

['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

Aquaman and Flash are having conflicts, and you need to
separate them. Choose either "Green Lantern" or "Superman"
and move them in between Aquaman and Flash.

In [ ]:
justice_league.remove("Superman")
flash_index = justice_league.index("Flash")
aquaman_index = justice_league.index("Aquaman")
min_index = min(flash_index, aquaman_index)
justice_league.insert(min_index + 1, "Superman")

print(justice_league)

['Wonder Woman', 'Batman', 'Flash', 'Superman', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

The Justice League faced a crisis, and Superman decided to
assemble a new team. Replace the existing list with the following
new members: "Cyborg"
,
"Shazam"
,
"Hawkgirl"
,
"Martian

Manhunter"
,
"Green Arrow".

In [ ]:
justice_league = ["Cyborg", "Shazam", "Hawkgirl", "Martian Manhunter", "Green Arrow"]

print(justice_league)

['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']

Sort the Justice League alphabetically. The hero at the 0th
index will become the new leader.

In [ ]:
justice_league.sort()

print(justice_league)

['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']

Write a program to check if two cities belong to the same country.
Ask the user to enter two cities and print whether they belong to the
same country or not.

Example:
Enter the first city: "Mumbai"
Enter the second city: "Chennai"
Output: "Both cities are in India"

Example:
Enter the first city: "Sydney"
Enter the second city: "Dubai"
Output: "They don't belong to the same country"

In [ ]:
city_country = {
    "Mumbai": "India",
    "Chennai": "India",
    "Delhi": "India",
    "Sydney": "Australia",
    "Dubai": "UAE",
    "New York": "USA",
    "Los Angeles": "USA",
    "London": "UK",
    "Manchester": "UK"
}

city1 = input("Enter the first city: ").strip()
city2 = input("Enter the second city: ").strip()

country1 = city_country.get(city1)
country2 = city_country.get(city2)

if country1 and country2:
    if country1 == country2:
        print(f"Both cities are in {country1}")
    else:
        print("They don't belong to the same country")
else:
    print("One or both cities are not in the database.")

Enter the first city: Chennai
Enter the second city: Delhi
Both cities are in India

Write a program to determine the BMI Category based on user input.
Ask the user to:
Enter height in meters
Enter weight in kilograms
Calculate BMI using the formula: BMI = weight / (height)2
Use the following categories:
If BMI is 30 or greater, print "Obesity"
If BMI is between 25 and 29, print "Overweight"
If BMI is between 18.5 and 25, print "Normal"
If BMI is less than 18.5, print "Underweight"
Example:
Enter height in meters: 1.75
Enter weight in kilograms: 70
Output: "Normal"

In [ ]:
height = float(input("Enter height in meters: "))
weight = float(input("Enter weight in kilograms: "))

bmi = weight / (height ** 2)

if bmi >= 30:
    print("Obesity")
elif 25 <= bmi < 30:
    print("Overweight")
elif 18.5 <= bmi < 25:
    print("Normal")
else:
    print("Underweight")

Enter height in meters: 45
Enter weight in kilograms: 78
Underweight

Write a program to determine which country a city belongs to. Given
list of cities per country:
Australia = ["Sydney"
,
"Melbourne"
,
"Brisbane"
,
"Perth"]

UAE = ["Dubai"
,
"Abu Dhabi"
,
"Sharjah"
,
"Ajman"]

India = ["Mumbai"
,
"Bangalore"
,
"Chennai"
,
"Delhi"]

Ask the user to enter a city name and print the corresponding country.
Example:
Enter a city name: "Abu Dhabi"
Output: "Abu Dhabi is in UAE"

In [ ]:
australia = ["Sydney", "Melbourne", "Brisbane", "Perth"]
uae = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
india = ["Mumbai", "Bangalore", "Chennai", "Delhi"]

city = input("Enter a city name: ").strip()

if city in australia:
    print(f"{city} is in Australia")
elif city in uae:
    print(f"{city} is in UAE")
elif city in india:
    print(f"{city} is in India")
else:
    print("City not found in the database.")

Using a for loop, simulate rolling a sixsided die multiple times (at least 20
times).
Count and print the following statistics:
How many times you rolled a 6
How many times you rolled a 1
How many times you rolled two 6s in a row

In [ ]:
import random

rolls = []
count_6 = 0
count_1 = 0
consecutive_6s = 0

previous_roll = 0

for i in range(20):
    roll = random.randint(1, 6)
    rolls.append(roll)

    if roll == 6:
        count_6 += 1
        if previous_roll == 6:
            consecutive_6s += 1
    if roll == 1:
        count_1 += 1

    previous_roll = roll

print("Die rolls:", rolls)
print("Number of times 6 was rolled:", count_6)
print("Number of times 1 was rolled:", count_1)
print("Number of times two 6s were rolled in a row:", consecutive_6s)

Die rolls: [4, 6, 6, 2, 4, 5, 6, 2, 3, 6, 6, 4, 4, 1, 1, 1, 4, 1, 1, 4]
Number of times 6 was rolled: 5
Number of times 1 was rolled: 5
Number of times two 6s were rolled in a row: 2

Imagine you are doing a workout routine, and you have to complete 100
jumping jacks.
Write a program that:
Asks you to perform 10 jumping jacks at a time.
After each set, it asks, "Are you tired?"
If you reply "yes" or "y," it should ask if you want to skip the remaining sets.
If you reply "yes" or "y," it should break and print, "You completed a total of
jumping jacks."
For example, if you did only 30 jumping jacks and answered "yes," the program
will break and print, "You completed a total of 30 jumping jacks."
If you reply "no" or "n," it should continue and display how many jumping jacks
are remaining. After that, ask you again, "Are you tired?"
For example, if you answered "no," it should display that 70 jumping jacks are
remaining and ask you again, "Are you tired?"
If you reply "no" or "n," it should continue and display how many jumping jacks
are remaining. After that, ask you again, "Are you tired?"
For example, if you answered "no," it should display that 70 jumping jacks are
remaining and ask you again, "Are you tired?"
If you complete all 100 jumping jacks, it should print, "Congratulations! You
completed the workout," and stop the program

In [ ]:
total_jumping_jacks = 100
set_size = 10
completed = 0

while completed < total_jumping_jacks:
    completed += set_size
    print(f"You have completed {completed} jumping jacks.")

    if completed >= total_jumping_jacks:
        print("Congratulations! You completed the workout.")
        break

    tired = input("Are you tired? (yes/no): ").strip().lower()

    if tired in ["yes", "y"]:
        skip = input("Do you want to skip the remaining sets? (yes/no): ").strip().lower()
        if skip in ["yes", "y"]:
            print(f"You completed a total of {completed} jumping jacks.")
            break
        else:
            remaining = total_jumping_jacks - completed
            print(f"Okay, keep going! {remaining} jumping jacks remaining.")
    elif tired in ["no", "n"]:
        remaining = total_jumping_jacks - completed
        print(f"Great! {remaining} jumping jacks remaining.")
    else:
        print("Invalid input. Assuming you're not tired.")

You have completed 10 jumping jacks.
Are you tired? (yes/no): y
Do you want to skip the remaining sets? (yes/no): n
Okay, keep going! 90 jumping jacks remaining.
You have completed 20 jumping jacks.
Are you tired? (yes/no): n
Great! 80 jumping jacks remaining.
You have completed 30 jumping jacks.
Are you tired? (yes/no): yes
Do you want to skip the remaining sets? (yes/no): no
Okay, keep going! 70 jumping jacks remaining.
You have completed 40 jumping jacks.
Are you tired? (yes/no): yes
Do you want to skip the remaining sets? (yes/no): yes
You completed a total of 40 jumping jacks.